@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Content {
  opacity: 1;
  animation: slideUp 0.5s;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
